.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .portfolio-name {
    span.text {

    }
  }

  .call-to-action {
    .catch-phrase {

    }

    .brief-bio {

    }
  }

  .scroll-prompt {

  }
}