.navigation {
  position: fixed;
  top: 3rem;
  right: 3rem;

  ul {
    list-style: none;
    display: flex;
    column-gap: 2.5rem;

    li.item {
      button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.25rem;
        color: var(--text-dimmed);
        text-shadow: var(--text-shadow-default);
        transition: all .2s;

        &:hover, &:active {
          color: var(--text-white);
          text-shadow: 0 0 1rem var(--color-secondary-1);
        }
      }
    }
  }
}